<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

  <menuitem title="Student" name="menu-item-student" />

  <menuitem title="All students" name="menu-item-student-show-all" parent="menu-item-student" action="action.student.view.all.student" />
  <action-view name="action.student.view.all.student" title="All students" model="com.axelor.app.student.db.Student">
    <view type="grid" name="student-grid" />
    <view type="form" name="student-form" />
    <view type="calendar" name="student-calendar" />
    <view type="kanban" name="student-kanban" />
    <view-param name="details-view" value="true" />
  </action-view>

  <menuitem title="Dashboard" name="menu-item-student-dashboard" action="action.student.view.dashboard.chart.student.by.marks" parent="menu-item-student" />
  <action-view name="action.student.view.dashboard.chart.student.by.marks" title="Dashboard" model="com.axelor.app.student.db.Student">
    <view type="dashboard" name="welcomeDashboard" />
  </action-view>

  <action-view name="action-student-view-new-student-entry-onnew-kanban" title="New Student">
    <view type="form" name="student-form" />
  </action-view>

  <action-view name="action-student-view-kanban" title="Kanban" model="com.axelor.app.student.db.Student">
    <view type="kanban" name="student-kanban" />
  </action-view>

  <menuitem title="Roll number" name="menu-item-rollnumber-all" parent="menu-item-student" action="action.student.view.all.rollnumber" />
  <action-view name="action.student.view.all.rollnumber" title="Roll number" model="com.axelor.app.student.db.RollNumber">
    <view type="grid" name="rollnumber-grid" />
    <view type="form" name="rollnumber-form" />
  </action-view>

  <menuitem title="Department" name="menu-item-department-all" parent="menu-item-student" action="action.student.view.all.department" />
  <action-view name="action.student.view.all.department" title="Department" model="com.axelor.app.student.db.Department">
    <view type="grid" name="department-grid" />
    <view type="form" name="department-form" />
  </action-view>

  <menuitem title="Subject" name="menu-item-subject-all" parent="menu-item-student" action="action.student.view.all.subject" />
  <action-view name="action.student.view.all.subject" title="Subject" model="com.axelor.app.student.db.Subject">
    <view type="grid" name="subject-grid" />
    <view type="form" name="subject-form" />
  </action-view>

  <menuitem title="Sports" name="menu-item-sports-all" parent="menu-item-student" action="action.student.view.all.sports" />
  <action-view name="action.student.view.all.sports" title="Sports" model="com.axelor.app.student.db.Sports">
    <view type="grid" name="sports-grid" />
    <view type="form" name="sports-form" />
  </action-view>

  <menuitem title="New Test" name="menu-item-newtest-all" parent="menu-item-student" action="action.student.view.all.newtest" />
  <action-view name="action.student.view.all.newtest" title="New Test" model="com.axelor.app.student.db.NewTest">
    <view type="cards" name="newtest-card" />
    <view type="tree" name="newtest-tree" />
    <view type="grid" name="newtest-grid" />
    <view type="form" name="newtest-form" />
  </action-view>

  <!-- <menuitem title="Calendar" name="menu-item-calander" parent="menu-item-student" action="action.student.view.show.calander" /> <action-view name="action.student.view.show.calander"
    title="Calander"> <view type="calendar" name="student-calendar"/> </action-view> -->

</object-views>
